/* @import "tailwindcss"; */

body {
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Iosevka Aile, Roboto, Segoe UI,
    Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  background-color: #14141d;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #dce1ff;
}

pre.astro-code {
  padding: 1rem; /* the padding you want */
  border-radius: 0.5rem;
  overflow: auto;
}

.nav {
  display: flex;
  flex: auto;
  gap: 1rem;
}

a,
a:visited,
a:hover,
a:active {
  color: #51f9ff;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
  font-weight: bold;
}

.main {
  margin-top: 2rem;
}

.section {
  margin-top: 3rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
