---
import "../styles/global.css";
import VisitBeacon from "../components/VisitBeacon.astro";
import ExperienceContent from "../content/experience.md";
import EducationContent from "../content/education.md";

export const prerender = true;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>career - jaredsystems</title>
	</head>
  <body>
		<div class="img-wrapper">
<img class="pfp-img" src="/jared-black-bg.png" alt="jared" />
  <h2>jared</h2>
</div>

<nav class="nav">
  <div><a href="/">home</a></div>
  <div><a href="/career" class="active">career</a></div>
  <div><a href="/resources">resources</a></div>
	<div><a href="https://github.com/JaredSystems">github</a></div>
</nav>

	<main class="main">
		<section class="section">
		  <ExperienceContent/>
		</section>

		<section class="section">
		  <EducationContent/>
		</section>
	</main>

	<VisitBeacon />
  </body>
</html>
